---
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";
import Referenceimg from '@assets/images/blog-placeholder-1.jpg';

const t = translations(Astro.url);
---

<Layout title="Dowload" description="Lorem ipsum dolor sit amet">
	<Container class="pt-16">

		<img src={Referenceimg.src} />
		<br/>

		<h2>Contributing</h2>
		<p>
			If you'd like to contribute to Anoto Website, please follow the guidelines in 
			<a href="https://github.com/MatheusAlvesPereira/Anoto-Website" target="_blank">Anoto-Website...</a>
        </p>
		<br/>
	</Container>
</Layout>
