---
import translations from "@utils/t.ts";
import Layout from "@layouts/Layout.astro";
import Container from "@src/components/Container.astro";
import Referenceimg from '@assets/images/imgdev.jpg';

const t = translations(Astro.url);
---

<Layout title="Dowload" description="Lorem ipsum dolor sit amet">
	<Container class="pt-16">
		<img src={Referenceimg.src} />
		<br/>

		<h2>Contributing to Anoto Website</h2>
		<br/>

		<p class="textDev">The Anoto Website is an open-source platform designed to showcase the Anoto app and demonstrate its features. 
			The objective of this site is to provide a simple and informative experience about us.
		</p>

		<p class="textDev">This open-source Anoto website aims to foster transparency and collaboration by making its source code accessible 
			to the public. Developers can contribute to the project, enhancing its features and functionality. 
			The website serves as a hub for showcasing the 
			capabilities of the Anoto app through interactive demos and informative content.
		</p>

		<p class="textDev">With a focus on simplicity, the website offers a user-friendly interface, making it easy for visitors to explore 
			information about Anoto and its various applications. The open-source nature encourages community involvement, 
			allowing individuals to participate in the development process, report issues, and propose improvements.
		</p>

		<p class="textDev">As a testament to the commitment to openness, the Anoto Website embraces the principles of sharing knowledge and empowering users. 
			Whether you are a developer interested in the codebase or a user seeking information about the Anoto app, this open-source 
			platform strives to provide a seamless and engaging experience for everyone.
		</p>

		<p class="textDev">The collaborative nature of the open-source Anoto website extends beyond just code contributions. The platform encourages users, developers, and enthusiasts to actively participate in discussions, share ideas, and contribute to the ongoing evolution of the Anoto ecosystem.</p>

		<p class="textDev">Regular updates and releases ensure that the Anoto website stays current with the latest advancements and features of the Anoto app. 
			The community-driven approach fosters innovation and creates a dynamic environment where the collective efforts of individuals 
			contribute to the success and improvement of the project.
		</p>

		<p class="textDev">Whether you're a seasoned developer looking to enhance the functionality of the Anoto app or a curious user exploring 
			the possibilities, the open-source Anoto website invites you to be part of a community dedicated to open collaboration, 
			continuous improvement, and the shared goal of showcasing the potential of the Anoto technology.
		</p>

		<p class="textDev">Explore the source code, engage with the community, and discover the endless possibilities that the Anoto app and its 
			open-source website have to offer.
		</p>
		<br/>

		<p class="textDev">
			If you'd like to contribute to Anoto Website, please follow the guidelines in 
			<a class="linkDev" href="https://github.com/MatheusAlvesPereira/Anoto-Website" target="_blank">Anoto-Website...</a>
        </p>

		<p class="textDev">
			This project use the template Astro-starter check
			<a class="linkDev" href="https://github.com/zankhq/astro-starter" target="_blank">Astro-starter</a>
        </p>

		<p class="textDev">Check about the <a class="linkDev" href="https://docs.astro.build" target="_blank">Astro documentation</a>.</p>

		<br/>

		<h2>Contributing to Anoto App</h2>
		<br/>

		<p class="textDev">The Anoto App is an open-source task management application designed to streamline your tasks and enhance productivity on the Android platform. 
			The primary goal of this project is to provide users with a straightforward and efficient task management experience.</p>
		
		<p class="textDev">This open-source Anoto App project encourages transparency and collaboration by sharing its source code with the public. 
			Developers are invited to contribute to the app, enriching its features and functionalities. 
			The platform serves as a central hub for demonstrating the capabilities of the Anoto App through interactive demos and informative content.</p>
		
		<p class="textDev">Prioritizing simplicity, the app boasts a user-friendly interface, making it easy for users to navigate and manage their tasks. 
			The open-source nature actively invites community participation, allowing individuals to engage in the development process, report issues, and suggest improvements.</p>
		
		<p class="textDev">Demonstrating a commitment to openness, the Anoto App project embraces the principles of knowledge sharing and empowering users. 
			Whether you're a developer eager to delve into the codebase or a user seeking insights into the Anoto App, this open-source platform aims to deliver a seamless and informative experience for all.</p>
		
		<p class="textDev">The collaborative spirit of the open-source Anoto App extends beyond code contributions. The project encourages users, developers, and enthusiasts to actively participate in discussions, exchange ideas, and contribute to the continuous evolution of the Anoto App ecosystem.</p>
		
		<p class="textDev">Regular updates and releases ensure that the Anoto App remains up-to-date with the latest advancements and features. 
			The community-driven approach stimulates innovation, fostering a dynamic environment where collective efforts contribute to the success and enhancement of the project.</p>
		
		<p class="textDev">Whether you're an experienced developer eager to enhance the Anoto App's functionality or a curious user exploring its possibilities, 
			the open-source Anoto App project invites you to join a community dedicated to open collaboration, continuous improvement, and the shared goal of showcasing the potential of the Anoto technology.</p>
		
		<p class="textDev">Explore the source code, engage with the community, and unlock the limitless possibilities that the Anoto App and its open-source project have to offer.</p>
		

		<br/>
		<p>
			If you'd like to contribute to Anoto Mobile App, please follow the guidelines in 
			<a class="linkDev" href="https://github.com/MatheusAlvesPereira/Anoto-App" target="_blank">Anoto-App...</a>
        </p>
		<br/>

		<p class="textDev">Check about the <a class="linkDev" href="https://kotlinlang.org/docs/getting-started.html" target="_blank">Kotlin documentation</a>.</p>
	</Container>
</Layout>

<style>
	.linkDev{
		color: #0000FF;
	}

	.textDev{
		padding-top: 0.5em;
	}
</style>
